$primary-bg: #08263F;
$secondary-bg:#EDF3F6;


$marine-blue-bg: #225B93;
$skyblue-bg:#9ECFE6;
$light-blue-bg:#EDF3F6;

$dark-beige-bg: #FED097;
$light-beige-bg:#FBEED7;

$dark-text:#031622;
$white-text:#FFFFFF;
$gray-text:#08263F99;


